body{
    margin: 0;
    padding: 0;
}

#apple-el{
    width: 40%;
    height: 40px;
    border: 1px solid #000000;
    background-color: lightcoral;
    margin: auto;
    margin-top: 15%;
}
#orange-el{
    width: 40%;
    height: 40px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(238, 91, 42);
}
#banana-el{
    width: 40%;
    height: 40px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(236, 53, 40);
}